<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @club.street_address %>
</p>

<% @club.bands.each do |band| %>
    <p>
      <strong>Band Playing:</strong>
      <%= band.name %>

      <br/>

      <% @bookings = Booking.where(club_id: @club.id).where(band_id:band.id) %>
      <% @bookings.each do |booking| %>
          <strong>Date:</strong>
          <%= booking.date %>
          <strong>, Days left:</strong>
          <%= (booking.date - Date.today).to_i %>
          <br/>
      <% end %>

    </p>
<% end %>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
