<h1>Welcome</h1>
<!--<p><%= link_to 'Show upcoming bands in clubs', clubs_path %></p>-->
<!--<p><%= link_to 'Show Band Schedule', bands_path %></p>-->
<!--<p><%= link_to 'Book a band for clubs', bookings_path %></p>-->
