<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Num members:</strong>
  <%= @band.num_members %>
</p>

<% @band.clubs.count %>

<% @band.clubs.each do |club| %>
    <p>
      <strong>Playing at:</strong>
      <%= club.name %>

      <br/>

      <% @bookings = Booking.where(club_id: club.id, band_id: @band.id) %>
      <% @bookings.each do |booking| %>
          <strong>Date:</strong>
          <%= booking.date %>
          <strong>, Fee:</strong>
          <%= booking.fee %>
          <br/>
      <% end %>
    </p>
<% end %>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
